<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Konversi Berat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <legend>Konversi Berat</legend>
        <p>
        <fieldset>
        <p>gram       : <b th:text="${gram}"></b>
        <p>pon    : <b th:text="${pon}"></b>
        <p>ons      : <b th:text="${ons}"></b>
        </fieldset>
    </body>
</html>